@charset "UTF-8";
@font-face {
	font-family: Fonte;
	src: url(../fonte/Arsenal/Arsenal-Regular.ttf);
}
a {
	color: #C29375;	
	text-decoration: none;	
	font-size: 1em;	
}
a:hover {
	color: #C29375;	
	text-decoration: underline;	
	font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;		
	color: #C29375;
	font-size: 1em;	
	padding: 0px;
}
select, input, textarea, select:focus, input:focus, textarea:focus {
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    border: 1px solid#000;	
	font-size: 1em;	
	padding: 5px;
	width: 100%;
	resize: none;
}
.botao, input[type="button"], input[type="submit"] {
	border-radius: 0px;
    outline: none;
    box-shadow: none;
    border: 1px solid#000;	
	font-size: 1em;			
	resize: none;
	padding: 5px;	 
	width: 100px;
}
label {
	color: #C29375;			
	font-weight: lighter;	
}
p {
	text-align: justify;
	text-indent: 2em;
	padding: 10px;			
}
table, th, td {	
	table-layout: fixed;
	width: 50%;
	border-collapse: collapse;		
}
th, td {	
	padding: 5px;
}
* {
	font-weight: normal;
	border-radius: 0px;
	box-sizing: border-box;	
	padding: 0;
}
html{
	height: 100%;
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
	width: 100%;
	background-color: #2C2F33;	
	padding: 0px;
}
body {
	font-family: Fonte, sans-serif;
	color: #C29375;
	font-size: 1em;
	margin: auto 0;
	padding: 0px;
	width: 100%;
    height:100%;
	background-color: #2C2F33;	
}
.tela {
	margin: 0 auto;
	width: 100%;	
	padding: 0px;
	min-height: 100vh;
	background-color: #2C2F33;
}

@media only screen and (max-width: 801px) {
	table, th, td {			
		width: 100%;			
	}	
}
.visitas {		
	text-align: center;		
} 
.sucesso {
	color: green; 
	text-align: center;
}
.erro {
	color: #FF0000; 
	text-align: center;
}
div {    
	padding: 0px;
	display: inline-block;
}
.topnav {
	padding: 5px 5px 5px 5px;
	overflow: hidden;
	background-color: #70221D;
	width: 100%;	
}
.topnav a {
	float: left;
	color: #C29375;
	text-align: center;
	padding: 0px;
	text-decoration: none;
	font-size: 1em;	
	font-weight: lighter;
}
  
.topnav a:hover {
	text-decoration: underline;	
} 
.menu { 
	width: 200px;	
	padding: 0px;
}