@charset "UTF-8";
@font-face {
	font-family: Fonte;
	src: url(../fonte/Arsenal/Arsenal-Regular.ttf);
}
a {
	color: #000;	
	text-decoration: none;	
}
a:hover {
	color: #000;	
	text-decoration: underline;	
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;		
	color: #000;
	font-size: 18px;	
	padding: 0px;
}
select, input, textarea, select:focus, input:focus, textarea:focus {
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    border: 1px solid#6d7874;	
	font-size: 12px;	
	padding: 2px;
	width: 100%;
	resize: none;
}
input[type="submit"] {
	 padding: 2px;
	 font-weight: bold;	 
	 width: auto;
}
label {
	color: #000;			
	font-weight: lighter;	
}
p {
	text-align: justify;
	text-indent: 2em;
	padding-left: 5%;	
	padding-right: 5%;	
}
table {	
	table-layout: fixed;
	width: 65%;
}
th, td {	
	width: 60%;
	overflow: hidden;
}
* {
	font-weight: normal;
	border-radius: 0px;
	box-sizing: border-box;	
	padding: 0;
	border: 0;
}
html{
	min-height: 100%;
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
	width: 100%;
    height:100%;
	background-color:#6d7874;
}
body {
	font-family: Fonte, sans-serif;
	color: #000;
	font-size: 18px;
	margin: auto 0;
	padding: 0px;
	min-height: 100%;	
	width: 100%;
    height:100%;
	background-color: #FFF;
}
.coluna {
	float: left;
	padding: 0px;	
} 
.esquerda {	
	width: 20%;	
	min-height: 100vh;
	text-align: center;
	padding: 10px;
	background-color:#6d7874;
} 
.direita {
	width: 80%;	
	background-color:#FFF;
	border-left: 1px solid #000;
	min-height: 100vh;
	padding: 0px;
}
.linha:after {
	content: "";
	display: table;
	clear: both;
	min-height: 100%;
}
@media only screen and (max-width: 1259px) {
	.esquerda {
		width: 100%;
	} 	
	.direita {		
		width: 100%;
		border-top: 1px solid #6d7874;	
		border-left: none;
	}
	.esquerda {		
		text-align: center;		
	} 
}
.visitas {		
	text-align: center;		
} 
.sucesso {
	color: darkslategray; 
	text-align: center;
}
.erro {
	color: #FF0000; 
	text-align: center;
}
div {    
	display: inline-block;
}